/* Общие */
h1 {
    font-size:2.5em;
}
h3 {
    margin:1em 0 0.5em;
}

/* Список автомобилей */
.cars A, .cars A * {
    text-decoration:none;
    cursor:pointer;
}
.car {
    padding:10px 0;
    width:100%;
    color:black;
    border-top:1px dashed black;
    position:relative;
}
.car IMG {
    border:0;
    float:left;
    padding-right:10px;
}
.car H3 {
    margin:0;
}
.car .price {
    position:absolute;
    bottom:0;
    right:0;
}
.car .price DIV {
    width:140px;
    padding:10px 10px 10px 0;
    text-align:right;
    font-size:20px;
}

/* Описание автомобиля */
.car_main div {
    line-height:2;
}
.car_main div div {
    font-weight:bold;
}
#thumbnails a {
    float:left;
    margin:10px 10px 0 0;
}
#thumbnails a.last {
    margin:10px 0 0 0;
}

/* Постраничная навигация */
.pagination {
    text-align: right;
}
.pagination a {
    text-decoration: underline;
}

/* Форма поиска */
#search_form div {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
#search_form select {
    margin: 0;
}
div.error {
    border:0;
    background: white;
    padding: 0 0 0 0;
}

/* Марки и модели */
ul.makes{
    margin-left:0;
}
ul.makes * {
    list-style-type:none;
}
.makes A {
    color:black;
}
